<div id="about">
    <br><br><br><br><br><br><br><br>
    <section class="about-me"  style="text-align:left">
    
    <h2 class="section__title section__title--about" style="font-size:3rem"><span style="font-size:2rem; color:#bf5e2e">02.</span> About me</h2>
    <p class="section__subtitle section__subtitle--about" style="font-size:1.5rem;color:#736F6F">Full Stack Software Engineer based in Toronto</p>
    
    <div class="about-me__body">
        <p>Hello! I am Hitesh Dharmadhikari, a full-stack software engineer based in Toronto.</p>
        <p>I enjoy creating applications for web and mobile. My goal is to always develop 
            end-to-end products which will create an impact and solve problems of millions of people.</p>
        <p>I have pursued my Bachelors degree in Computer Science from University of Mumbai. After that,
            I have been working as a Software Engineer for over 3 years. At present, I am pursuing a post-grad diploma 
            in Artificial Intelligence from Centennial college and working part-time as a web developer for a start-up company BrainRacers.</p>
        <p>I am proficient in React.js, React native, Javascript, Node.js, Java, Spring boot, MongoDB, MySQL.</p>
        <p>I also have a good understanding of Data structures & Algorithms. I'm a 5-star problem solver @Hackerank
            and 2-star @CodeChef. Contributed in Open-Source projects and cleared Hacktoberfest 2019 and 2020.
    </div>
    
    <img src="Assets/images/Hitesh_pic.png" width="300px" height="300px" alt="Jane leaning against a bus" class="about-me__img">
    </section>
</div>
