<footer>

    <ul class="listSocial">
        <li>
            <a href="" aria-label="123">
                <i class="fab fa-facebook socialButtonColor"></i>
            </a>
        </li>
        <li>
            <a href="" aria-label="123">
                <i class="fab fa-github socialButtonColor"></i>
            </a>
        </li>
        <li>
            <a href="" aria-label="123">
                <i class="fab fa-linkedin socialButtonColor"></i>
            </a>
        </li>
        <li>
            <a href="" aria-label="123">
                <i class="fab fa-twitter socialButtonColor"></i>
            </a>
        </li>
        
    </ul>
    <nav class="navbar bottom navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Designed by Hitesh Dharmadhikari</a>
    </nav>
</footer>