<div id="contact">
    <br><br><br><br>
    <section class="my-services">
        <h2 class="section__title section__title--services" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">05.</span> Contact</h2>
        <form action="/contact" method="POST">
        <div class="form-group col-lg-8" style="text-align:left">
            <label for="inputName1" >Full Name</label>
            <input type="text" class="form-control input-sm" id="inputName1" name="name" aria-describedby="emailHelp" placeholder="Enter full name">
            <br>
            <label for="inputEmail1">Email address</label>
            <input type="email" class="form-control" id="inputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        
        
            <br>
            <label for="formControlTextarea1">Message</label>
            <textarea class="form-control" id="formControlTextarea1" name="message" rows="3" placeholder="eg: I want a website for my business"></textarea>
            <br>
        </div>
        <button href="#home" type="submit" value="Submit" class="btn btn-primary" style="float:left;margin-left:15px;background-color: #bf5e2e; border-color: #bf5e2e">Submit</button>
        </form>
    </section>
    <br><br><br>
</div>