<nav class="navbar navbar-expand-lg navbar-light bg-light navbarStyle">
    <a class="navbar-brand" href="/">
        <!--Hitesh portfolio Logo -->
        <img src="/Assets/images/portfolio_logo_hitesh.png" alt="logo" width="70" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home"><span style="color:#bf5e2e;font-size:15px" >01.</span> Home</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#about"><span style="color:#bf5e2e;font-size:15px" >02.</span> About me</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#services"><span style="color:#bf5e2e;font-size:15px" >03.</span> Services</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#projects"><span style="color:#bf5e2e;font-size:15px" >04.</span> Projects</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#contact"><span style="color:#bf5e2e;font-size:15px" >05.</span> Contact</a>
        </li>

        <a href="/Assets/Resume.pdf" target="_blank">
        <button type="button" class="styleButton">
            <span>Resume</span>
        </button>
        </a>

        </ul>
        
    </div>
</nav>