<div id="projects">
        <br><br><br><br><br><br>
        <section class="project-title">
          <h2 class="services-title" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">04.</span> Projects</h2>

          <div class="container">
            <div class="row">
              <div class="col-sm" style="margin-bottom: 35px;">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/sudoku_app.png" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Sudoku Solver</h5>
                    <p class="card-text">Build web application to solve any sudoku problem using backtracking algorithm and recursion. </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">React.js, Material UI</li>
                    <li class="list-group-item">Spring Boot</li>
                    <li class="list-group-item">MySQL</li>
                  </ul>
                  <div class="card-body">
                    <a  class="card-link">Github</a>
                    <a  class="card-link">Demo</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/url_shortener.jpg" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">URL Shortener</h5>
                    <p class="card-text">Designed a web application to provide alias based short url using base64 encoding and key-gen algorithm. </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML, CSS, React.js</li>
                    <li class="list-group-item">Node.js, Express.js</li>
                    <li class="list-group-item">Redis</li>
                  </ul>
                  <div class="card-body">
                    <a class="card-link">Github</a>
                    <a class="card-link">Demo</a>
                  </div>
                </div>
              </div>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/video_app.jpg" height="250px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Video Conference App</h5>
                    <p class="card-text">Web based application in which we can create and share a link using which multiple people can join a meeting room.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">HTML, CSS</li>
                    <li class="list-group-item">Node.js, Express.js</li>
                    <li class="list-group-item">Socket.io</li>
                  </ul>
                  <div class="card-body">
                    <a  class="card-link">Github</a>
                    <a  class="card-link">Demo</a>
                  </div>
                </div>
              </div>
              <br><br><br>
              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" height="200px" width="200px" src="Assets/images/blockchain.png" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Blockchain App</h5>
                    <p class="card-text">Designed a web based decentralised peer-to-peer blockchain using concensus protocol.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Flask</li>
                  </ul>
                  <div class="card-body">
                    <a  class="card-link">Github</a>
                    <a  class="card-link">Demo</a>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" height="200px" width="200px" src="Assets/images/crypto.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Cryptocurrency</h5>
                    <p class="card-text">Using my blockchain implemented a Cryptocurrency which can be distributed among connected nodes.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">Flask</li>
                  </ul>
                  <div class="card-body">
                    <a  class="card-link">Github</a>
                    <a  class="card-link">Demo</a>
                  </div>
                </div>
              </div>

              <div class="col-sm">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="Assets/images/jwt.png" height="200px" width="200px" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">JWT Authentication</h5>
                    <p class="card-text">Created a login and registration page for users by providing authentication using Json Web Token.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">React.js, React Native</li>
                    <li class="list-group-item">Node.js, Express.js, MongoDB</li>
                  </ul>
                  <div class="card-body">
                    <a  class="card-link">Github</a>
                    <a  class="card-link">Demo</a>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
        </section>
        <br><br><br>
</div>  