<div id="services">
    <br><br><br><br><br><br>
    <section class="my-services">
        <h2 class="services-title" style="font-size:3rem;text-align: left;"><span style="font-size:2rem; color:#bf5e2e">03.</span> Services</h2>
        <div class="services">
            <div class="service">
                <img src="Assets/images/icons1.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                <h4>Web Development</h4>
                <p>Stability, responsiveness and premium designs are the trademarks of my Web Development. Authentication using JWT and Authorization of various third-party services using OAuth will be provided along with Payment integration and third-party CRM integrations.</p>
            </div>
            
            <div class="service">
                <img src="Assets/images/icons2.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                <h4>Mobile App</h4>
                <p>Being a top-notch mobile app developmer, I deliver an exquisite experience with powerful mobile apps. My services include Firebase authentication and integrations, database management and inclusion of Push notification and other services.</p>
            </div>
            
            <div class="service">
                <img src="Assets/images/icons3.png" width="120px" height="120px" alt="Jane leaning against a bus" class="about-me__img">
                <h4>Blockchain</h4>
                <p>Smart contract development for peer-to-peer transactions to empower true intermediay-less trading environments. Ethereum development for crowd funding campaigns, leveraging Defi applications for lending, investing and finance.</p>
            </div>
        </div>
            
            <a href="#projects" class="btn serviceButton" style="border-color:#bf5e2e; background-color:rgba(0,0,0,0); color:black">Checkout my work</a>
            <br><br><br>
    </section>
</div>