/* 
File Name: style.css
Student Name: Hitesh Dharmadhikari
Student ID: 301150694
Date: 12/2/2021
*/

/* Body Styling */
body{
    padding-top: 70px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DEDEDE !important;
    height: 100vh;
    line-height: 1.6;
}

/* Nav Bar Styling */
.navbarStyle {
    position: fixed !important;
    width: 100%;
    z-index: 1;
    top:0;
}

/* Alert Message Styling */
#alert-message{
    background-color:#bf5e2e;
    float:right;
    margin-top:35px;
    margin-right:25px;
    width:25%;
    height:auto;
}

@media (max-width: 600px){

    #alert-message{
        background-color:#bf5e2e;
        float: none;
        width:100%;
        height:auto;
    }

}


/* RESUME BUTTON STYLING */

.styleButton {
    border-radius: 4px;
    background-color: #bf5e2e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 4px 12px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
.styleButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.styleButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.styleButton:hover span {
    padding-right: 25px;
}
  
.styleButton:hover span:after {
    opacity: 1;
    right: 0;
}

.styleButton a{
    text-decoration: none;
}

/*
Login Button Style
*/

.loginButton {
    border-radius: 2px;
    background-color: none;
    border: 0.5px solid #bf5e2e;
    /* color: #FFFFFF; */
    text-align: center;
    font-size: 15px;
    padding: 4px 12px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

  /* Sections and subsections Styling */

.nav-item{
    font-size: 18px;
}

.nav-link:hover {
    color: #bf5e2e !important;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #DEDEDE;
}

.subSection{
    width: 70%;
    height:100%;
    margin: auto;
    text-align: center;
    
}
  
/* Styling the Home Section */

#home h6 {
    padding-top: 100px;
    font-size: 1.5rem;
    text-align:left;
    margin-left: 2px;
}
#home h1{
    font-size: 5rem;
    text-align:left;

}

#home h1 span{
    color: #bf5e2e;
}

#home p{
    font-size: 4rem;
    text-align: left;
    color: #736F6F;
    margin-left: 2px;
}

#home h4{
    text-align: left;
    margin-left: 5px;
}

.buttonContact {
    display:block;
    padding:0.46em 1.6em;
    border:0.1em solid #bf5e2e;
    margin:0 0.2em 0.2em 0;
    text-decoration: none;
    border-radius: 0.12 em;
    box-sizing: border-box;
    color:#000000;
    float: left;
    border-color:#bf5e2e; 
    background-color:rgba(0,0,0,0); 
}

.buttonContact:hover{
    text-decoration: none;
}

@media (max-width: 600px){
    .subSection{
        width: 100%;
        text-align: center;
        margin-left: 5px;
    }

    #home h1{
        font-size: 3rem;
        text-align:left;
        
    }

    #home p{
        font-size: 2rem;
        text-align: left;
        color: #736F6F;
        margin-left: 2px;
    }

    #home h4{
        font-size: 1rem;
        text-align: left;
        margin-left: 5px;
    }

    .buttonContact{
        text-align: center;
        float: none;
        width: 50%;
        margin: auto;
        
    }
}    

  /* Styling the About me Section */

.about-me{
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}
.about-me-body{
    margin-bottom: 20px;
}

@media (min-width: 600px){

    .about-me{
        display: grid;
        text-align: center;
        grid-template-columns: 1fr 200x;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img" ;
        grid-column-gap:2mm;
    }

    .about-section-title{
        grid-area: title;
    }

    .about-me__img{
        grid-area: img;
    }
}

@media (max-width: 600px){
    
    #about{
        margin-left: 5px;
    }

    section{
        text-align: center ;
    }

    .about-me__img{
        margin-bottom: 25px;
    }

    .aboutResumeButton{
        width:50% !important;
    }

}



  /* Services */

#services{
    width: 70%;
    height:100%;
    margin: auto;
    text-align: left;
}

.my-services {
    background-size: cover;
    text-align: center;
}

.services-title {
    position: relative;
}

.services-title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}



.serviceButton {
    display:block;
    padding:0.46em 1.6em;
    border:0.1em solid #bf5e2e;
    margin:0 0.2em 0.2em 0;
    text-decoration: none;
    border-radius: 0.12 em;
    box-sizing: border-box;
    color:#000000;
    float: left;
}

@media(max-width: 600px){
    .serviceButton{
        float: none;
    }
}

/* Projects */

#projects{
    width: 70%;
    height:100%;
    margin: auto;
    text-align: left;
}

@media(max-width: 600px){
    #projects{
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .container{
        text-align: center;
    }
    .col-sm{
        margin-bottom: 20px;
        
    }
    .card{
        width:100% !important;
    }
}

/* Contact */

#contact{
    width: 70%;
    height:100%;
    margin: auto;
    text-align: left;
}


  /* footer */

.footer {
    background:#FFFFFF;
    text-align: center;
    padding: 2.5em 0;
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.social-media-link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list-item {
    margin: 0 .5em;
}

.social-media-link {
    padding: .5em;
}

@media (max-width: 600px){
    #footer{
        width:fit-content;
    }
}

  
    